{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestión de Pedidos{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/stylesheet.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">

</head>
<body>
    <!-- HEADER COMÚN -->
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo de Deustronic Components" class="logo">
            </a>
        </div>
        <div class="header-content">
            <h1>Deustronic Components S.L - Gestión de Pedidos</h1>
            <div id="enlacesHed">
                <a href="{% url 'home' %}">Inicio</a> |
                <a href="{% url 'cliente_listado' %}">Clientes</a> |
                <a href="{% url 'pedido_listado' %}">Pedidos</a> |
                <a href="{% url 'producto_listado' %}">Productos</a> |
                <a href="{% url 'componente_listado' %}">Componentes</a>
            </div>
        </div>
    </header>

    <!-- Contenido a rellenar en cada pestaña -->
    <main>
        {% block content %}
        
            {% if messages %}

            <!-- Cambiar a archivo JS cuando empecemos, de momento de debug -->
            <script>
                {% for message in messages %}
                alert("{{ message|escapejs }}");
                {% endfor %}
            </script>
            {% endif %}
        {% endblock %}
    </main>

    <!-- FOOTER COMÚN -->
    <hr>
    <footer>
    <p>&copy; 2025 . Todos los derechos reservados.         Contacto: <a href= "https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">deustroniccompsl@gmail.com</a></p> 
    </footer>
</body>
</html>