{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestión de Pedidos{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/stylesheet.css' %}">

</head>
<body>
    <!-- HEADER COMÚN -->
    <header>
        <h1> Deustronic Components S.L - Gestión de Pedidos</h1>
        <div id="enlacesHed">
             <!-- Hacer asi los enlaces a las views de detalle -->
            <a href="{% url 'home' %}">Inicio</a> |
            <a href="{% url 'cliente_listado' %}">Clientes</a> | 
            <a href="{% url 'pedido_listado' %}">Pedidos</a> |
            <a href="{% url 'producto_listado' %}">Productos</a> |
            <a href="{%url 'componente_listado' %}">Componentes</a> 
        </div>
    </header>

    <!-- Contenido a rellenar en cada pestaña -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER COMÚN -->
    <hr>
    <footer>
    <p>&copy; 2025 . Todos los derechos reservados.</p>
    <p>Contacto: <a href= "deustroniccomponents@gmail.com">deustroniccomponents@gmail.com</a></p>

    </footer>
</body>
</html>