{% extends "base.html" %}

{% block title %}Detalle del Cliente{% endblock %}

{% block content %}
<h2>Detalle del Cliente</h2>
<p><strong>CIF:</strong> {{ cliente.cif }}</p>
<p><strong>Nombre de Empresa:</strong> {{ cliente.nombre_empresa }}</p>
<p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
<p><strong>Datos de Contacto:</strong> {{ cliente.datos_contacto }}</p>

<h3>Pedidos realizados:</h3>
<ul>
    {% for pedido in cliente.pedidos.all %}
        <li>
            <a href="{% url 'pedido_detalle' pedido.id %}">{{ pedido.codigo_referencia }}</a> - {{ pedido.get_estado_display }}
        </li>
    {% empty %}
        <li>No se ha realizado ningun pedido para este cliente.</li>
    {% endfor %}
</ul>



<a href="{% url 'cliente_listado' %}">Volver al Listado</a>
{% endblock %}