{% extends "base.html" %}

{% block title %}Listado de Clientes{% endblock %}

{% block content %}
<h2>Listado de Clientes</h2>
<!-- Botón de Crear Nuevo Cliente -->
<a href="{% url 'cliente_crear' %}" class="btn-crear-cliente">Crear Nuevo Cliente</a>

<table>
    <thead>
        <tr>
            <th>Nombre de Empresa</th>
            <th>CIF</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td><a href="{% url 'cliente_detalle' cliente.id %}" class="detalle_link">{{ cliente.nombre_empresa }}</a></td>
            <td>{{ cliente.cif }}</td>
            <td>
                <!-- Botón de Eliminar -->
                <a href="{% url 'cliente_eliminar' cliente.id %}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay clientes registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}