{% extends "base.html" %}

{% block title %}Detalle del Cliente{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>Detalle del Cliente</h2>
    <div>
        <a href="{% url 'cliente_editar' cliente.id %}" class="button">Editar</a>
        <a href="{% url 'cliente_eliminar' cliente.id %}" class="btn-eliminar">Eliminar</a>
    </div>
</div>
<p><strong>CIF:</strong> {{ cliente.cif }}</p>
<p><strong>Nombre de Empresa:</strong> {{ cliente.nombre_empresa }}</p>
<p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
<p><strong>Datos de Contacto:</strong> {{ cliente.datos_contacto }}</p>

<h3>Pedidos realizados:</h3>

<ul>
    {% for pedido in cliente.pedidos.all %}
        <li>
            <a href="{% url 'pedido_detalle' pedido.id %}" class = 'detalle_link'>{{ pedido.codigo_referencia }}</a> - {{ pedido.get_estado_display }}
        </li>
    {% empty %}
        <li>No se ha realizado ningun pedido para este cliente.</li>
    {% endfor %}
</ul>

<a href="javascript:history.back()" class="button">Volver a la Página Anterior</a>
<a href="{% url 'pedido_listado' %}" class="button">Volver al Listado</a>
{% endblock %}