{% extends "base.html" %}

{% block title %}Detalle del Componente{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>Detalle del Componente</h2>
    <div>
        <a href="{% url 'componente_editar' componente.id %}" class="button">Editar</a>
        <a href="{% url 'componente_eliminar' componente.id %}" class="btn-eliminar">Eliminar</a>
    </div>
</div>
<p><strong>Codigo de referencia:</strong> {{ componente.codigo_referencia }}</p>
<p><strong>Nombre del modelo:</strong> {{ componente.nombre_modelo }}</p>
<p><strong>Tipo de componente:</strong> {{ componente.tipo_componente }}</p>
<p><strong>Proveedor:</strong> {{ componente.proveedor }}</p>
<p><strong>Especificaciones:</strong> {{ componente.especificaciones_tecnicas }}</p>

{% if componente.archivo %}
<p>
  <strong>Archivo adjunto:</strong>
  <a href="{{ componente.archivo.url }}" download>
    Descargar {{ componente.archivo.name}}
  </a>
</p>
{% endif %}

<h3>Productos que contienen este componente:</h3>
<ul>
    {% for producto in componente.productos.all %}
        <li>
            <a href="{% url 'producto_detalle' producto.id %}" class = 'detalle_link'>{{ producto.nombre }}</a>
        </li>
    {% empty %}
        <li>No hay productos que contengan este componente.</li>
    {% endfor %}
</ul>
<br>
<a href="javascript:history.back()" class="button">Volver a la Página Anterior</a>
<a href="{% url 'pedido_listado' %}" class="button">Volver al Listado</a>
{% endblock %}