{% extends "base.html" %}

{% block title %}Detalle del Pedido{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>Detalle del Pedido</h2>
    <div>
        <a href="{% url 'pedido_editar' pedido.id %}" class="button">Editar</a>
        <a href="{% url 'pedido_eliminar' pedido.id %}" class="btn-eliminar">Eliminar</a>
    </div>
</div>
<p><strong>Codigo de referencia:</strong> {{ pedido.codigo_referencia }}</p>
<p><strong>Fecha de entrega estimada:</strong> {{ pedido.fecha_entrega_estimada }}</p>
<p><strong>Fecha de entrega:</strong> {{ pedido.fecha_entrega }}</p>
<p><strong>Cliente:</strong> <a href="{% url 'cliente_detalle' pedido.cliente.id %}" class ='detalle_link'>{{ pedido.cliente.nombre_empresa }}</a></p>
<p><strong>Productos:</strong></p>
<ul>
    {% for producto in pedido.productos.all %}
        <li>
            <a href="{% url 'producto_detalle' producto.id %}" class = 'detalle_link'>{{ producto.nombre }}</a>
        </li>
    {% empty %}
        <li>No hay productos asociados a este pedido.</li>
    {% endfor %}
</ul>
<p><strong>Estado:</strong> {{ pedido.get_estado_display }}</p>
<p><strong>Urgencia:</strong> {{ pedido.get_urgencia_display }}</p>
<p><strong>Detalles:</strong> {{ pedido.detalles }}</p>



<a href="javascript:history.back()" class="button">Volver a la Página Anterior</a>
<a href="{% url 'pedido_listado' %}" class="button">Volver al Listado</a>
    

{% endblock %}

