{% extends "base.html" %}

{% block title %}Listado de Pedidos{% endblock %}

{% block content %}
<h2>Listado de Pedidos</h2>
<a href="{% url 'pedido_crear' %}" class="button">Crear Nuevo Pedido</a>
<table>
    <thead>
        <tr>
            <th>Código de Referencia</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td><a href="{% url 'pedido_detalle' pedido.id %}" class='detalle_link'>{{ pedido.codigo_referencia }}</a></td>
            <td>{{ pedido.get_estado_display }}</td>
            <td><a href="{% url 'cliente_detalle' pedido.cliente.id %}" class ='detalle_link'>{{ pedido.cliente.nombre_empresa }}</a></td>
            <td>
                <a href="{% url 'pedido_editar' pedido.id %}" class="button">Editar</a>
                
                    <a href="{% url 'pedido_eliminar' pedido.id %}" class="btn-eliminar">Eliminar</a>
                </td>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay pedidos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
  <div class="paginacion">
   
    <!-- Si hay una página anterior, se muestran los botones para ir a la primera y a la anterior -->
    {% if page_obj.has_previous %}
      <a href="?page=1">Primera</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} 

    <!-- Si hay una página siguiente, se muestran los botones para ir a la ultima y a la siguiente -->
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
    
  </div>
{% endif %}

{% endblock %}