{% extends "base.html" %}

{% block title %}Editar Producto{% endblock %}

{% block content %}
<h2>Estas editando el producto:</h2>
<p><strong>{{ object.nombre}}</strong></p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Actualizar</button>
    <a href="{% url 'producto_listado' %}" class="button">Cancelar</a>
</form>
<script>
document.getElementById("id_componentes").addEventListener("change", function() {
  const ids = Array.from(this.selectedOptions).map(opt => opt.value);
  fetch('/api/calcular-precio/?ids[]=' + ids.join('&ids[]='))
    .then(res => res.json())
    .then(data => {
      document.getElementById("id_precio").value = data.total.toFixed(2);
    })
    .catch(err => console.error('Error:', err));
});
</script>

{% endblock %}