{% extends "base.html" %}

{% block title %}Detalle del Producto{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>Detalle del Producto</h2>
    <div>
        <a href="{% url 'producto_editar' producto.id %}" class="button">Editar</a>
        <a href="{% url 'producto_eliminar' producto.id %}" class="btn-eliminar">Eliminar</a>
    </div>
</div>
<p><strong>Referencia:</strong> {{ producto.referencia }}</p>
<p><strong>Nombre:</strong> {{ producto.nombre }}</p>
<p><strong>Precio:</strong> {{ producto.precio }}</p>
<p><strong>Descripcion:</strong> {{ producto.descripcion }}</p>
<p><strong>Categoria:</strong> {{producto.categoria }}</p>
<p><strong>Componentes:</strong></p>
{% for componente in producto.componentes.all %}
        <li>
            <a href="{% url 'componente_detalle' componente.id %}" class = 'detalle_link'>{{ componente.nombre_modelo }}</a>
        </li>
    <!-- En caso de qye este vacio -->
    {% empty %}
        <li>No hay componentes asociados a este producto.</li>
    {% endfor %}




<br>

<a href="javascript:history.back()" class="button">Volver a la Página Anterior</a>
<a href="{% url 'pedido_listado' %}" class="button">Volver al Listado</a>
{% endblock %}