{% extends "base.html" %}

{% block title %}Listado de Productos{% endblock %}

{% block content %}
<h2>Listado de Productos</h2>
<a href="{% url 'producto_crear' %}" class="button">Crear Nuevo Producto</a>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Referencia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td><a href="{% url 'producto_detalle' producto.id %}" class="detalle_link">{{ producto.nombre }}</a></td>
            <td>{{ producto.referencia }}</td>
            <td>
                <a href="{% url 'producto_editar' producto.id %}" class="button">Editar</a>
                <!-- Botón de Eliminar con la clase btn-eliminar -->
                <a href="{% url 'producto_eliminar' producto.id %}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay productos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}