{% extends "base.html" %}

{% block title %}Listado de Productos{% endblock %}

{% block content %}
<h2>Listado de Productos</h2>
<a href="{% url 'producto_crear' %}" class="button">Crear Nuevo Producto</a>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Referencia</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td><a href="{% url 'producto_detalle' producto.id %}" class="detalle_link">{{ producto.nombre }}</a></td>
            <td>{{ producto.referencia }}</td>
            <td>{{ producto.precio }}</td>
            <td>
                <a href="{% url 'producto_editar' producto.id %}" class="button">Editar</a>
                <!-- Botón de Eliminar con la clase btn-eliminar -->
                <a href="{% url 'producto_eliminar' producto.id %}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay productos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
  <div class="paginacion">
   
    <!-- Si hay una página anterior, se muestran los botones para ir a la primera y a la anterior -->
    {% if page_obj.has_previous %}
      <a href="?page=1">Primera</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} 

    <!-- Si hay una página siguiente, se muestran los botones para ir a la ultima y a la siguiente -->
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
    
  </div>
{% endif %}

{% endblock %}